{% extends 'default.html.twig' %}

{% block content %}
  <div class="iframe">
    {{ carew.document.body|raw }}
  </div>

  <div class="container">
    {{ block('content_footer') }}
  </div>
{% endblock %}
