{% extends "default.html.twig" %}

{% block content %}
  <ul>
    {% for post  in posts %}
      <li>
        <a href="{{ post.path }}">{{ post.title|title }}</a>
      </li>
    {% endfor %}
  </ul>
{% endblock %}
